h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  width:auto !important;
}

#infoAndResa
{
  width:
}

.navbar {
  justify-content: space-between;
}

.brand-bg {
  background: #eaeaea;
}

.brand-font {
  font-family: 'Montserrat', sans-serif;
}

.bottom-gold {
  border-bottom: solid 2px #BC8B2D;
}

#appweb {
  display: flex;
  flex-flow: row-reverse nowrap;
}

#mapid {
  height: 800px;
  width: 100%;
  border: 3px #BC8B2D solid;
  border-radius: 2px;
  transition : all 1s ease;
}

#reservation {
  height: 615px;
  border: 3px #BC8B2D solid;
  border-radius: 2px;
}

#infosReservation {
  border: 3px #BC8B2D solid;
  border-radius: 2px;
  height: 160px;
  white-space: pre-line;
  text-align: center;
}

#reservation * {
  text-align: left;
}

#reservation h2 {
  text-align: center;
  border-bottom: #BC8B2D 2px solid;
  padding: 10px 0px;
  margin-bottom: 30px
}

#infos {
  white-space: pre-line;
}


.hidden {
  display: none;
}

#canvas {
  border: 2px red solid;
}

.diapo-container * {
  box-sizing: border-box
}

/* Slideshow container */
.diapo-container {
  width: 75%;
  max-width: 960px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

/* Hide the images by default */
.diapo {
  display: none;
}

.diapo img {
  max-width: 100%;
  max-height: 100%;
}

/* Next & previous buttons */
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(158, 158, 158, 0.8);
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade-anim {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}