h1 
{
    text-align: center;
}

#appweb
{
    display:flex;
}

#mapid 
{
    height: 500px;
    width:66%;
    border:5px black solid;
    border-radius:10px;
}

#reservation
{
    width: 33%;
    border:5px black solid;
    border-radius:10px;
}

#reservation *{
    text-align: center;
}

#infos{
    white-space: pre-line;
}